.image-container{
    height: 100vh;
    // margin: 40px auto;
    background-color: grey;
    // display: flex;

}

.top {
    height: 80vh;
    background-color: bisque;
        img {
        height: 70vh;
        object-fit: cover;
    }
}